In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import glob
import os
import datetime as dt

%matplotlib inline

In [2]:
file = os.path.join('C:\\Users\\saras\\Documents\\NSS\\Capstone\\final_capstone\\Data\\', 'tornado_*.csv')
file = glob.glob(file)
tornado_years = pd.concat(map(pd.read_csv,file), ignore_index = True)
tornado_years

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,EVENT_TYPE,MAGNITUDE,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,...,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58
0,10063615,ST. LOUIS CO.,,1/3/1950,1100,Tornado,0,F3,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10009710,MADISON CO.,,1/3/1950,1110,Tornado,0,F3,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10009711,MONTGOMERY CO.,,1/3/1950,1155,Tornado,0,F3,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10086808,VAN WERT CO.,,1/3/1950,1600,Tornado,0,F1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9981922,POLK CO.,,1/13/1950,525,Tornado,0,F3,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73602,994814,JEFF DAVIS CO.,DENTON,12/30/2021,1633,Tornado,,EF1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73603,998990,PULASKI CO.,BROWNDALE,12/30/2021,1809,Tornado,,EF0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73604,998802,DEKALB CO.,LOVELESS,12/31/2021,1449,Tornado,,EF1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73605,996865,CARROLL CO.,TEMPLE,12/31/2021,1732,Tornado,,EF1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73606,996864,NEWTON CO.,ABIDE AWHILE,12/31/2021,1739,Tornado,,EF1,0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
pd.set_option('display.max_columns', None)
tornado_years = tornado_years.drop(tornado_years.columns[38:],axis=1)
tornado_years

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,EVENT_TYPE,MAGNITUDE,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,DAMAGE_PROPERTY_NUM,DAMAGE_CROPS_NUM,STATE_ABBR,CZ_TIMEZONE,MAGNITUDE_TYPE,EPISODE_ID,CZ_TYPE,CZ_FIPS,WFO,INJURIES_INDIRECT,DEATHS_INDIRECT,SOURCE,FLOOD_CAUSE,TOR_LENGTH,TOR_WIDTH,BEGIN_RANGE,BEGIN_AZIMUTH,END_RANGE,END_AZIMUTH,END_LOCATION,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE
0,10063615,ST. LOUIS CO.,,1/3/1950,1100,Tornado,0,F3,0,3,2500000.0,0,MO,CST,,,C,189,,0,0,,,6.2,150,0,,0,,,1/3/1950,1100,38.77,-90.22,38.82,-90.12,NaN,NaN
1,10009710,MADISON CO.,,1/3/1950,1110,Tornado,0,F3,0,0,250000.0,0,IL,CST,,,C,119,,0,0,,,3.3,100,0,,0,,,1/3/1950,1110,38.82,-90.1,38.83,-90.03,NaN,NaN
2,10009711,MONTGOMERY CO.,,1/3/1950,1155,Tornado,0,F3,0,3,250000.0,0,IL,CST,,,C,135,,0,0,,,3.6,130,0,,0,,,1/3/1950,1155,39.1,-89.3,39.12,-89.23,NaN,NaN
3,10086808,VAN WERT CO.,,1/3/1950,1600,Tornado,0,F1,0,1,25000.0,0,OH,CST,,,C,161,,0,0,,,0.1,33,0,,0,,,1/3/1950,1600,40.88,-84.58,,,NaN,NaN
4,9981922,POLK CO.,,1/13/1950,525,Tornado,0,F3,1,1,2500.0,0,AR,CST,,,C,113,,0,0,,,0.6,17,0,,0,,,1/13/1950,525,34.4,-94.37,,,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73602,994814,JEFF DAVIS CO.,DENTON,12/30/2021,1633,Tornado,,EF1,0,0,0.0,0,GA,EST-5,,164767,C,161,JAX,0,0,Emergency Manager,,11.89,300,3,SW,8,E,BROOKER,12/30/2021,1655,31.69,-82.73,31.74,-82.54,"Just after 430 pm, a severe thunderstorm spawn...",A broken prefrontal squall line shifted southw...
73603,998990,PULASKI CO.,BROWNDALE,12/30/2021,1809,Tornado,,EF0,0,0,0.0,0,GA,EST-5,,165054,C,235,FFC,0,0,NWS Storm Survey,,10.1,200,5,S,4,S,HAWKINSVILLE ARPT,12/30/2021,1832,32.23,-83.59,32.22,-83.42,This tornado touched down shortly after enteri...,Within an unseasonably warm and moist low-leve...
73604,998802,DEKALB CO.,LOVELESS,12/31/2021,1449,Tornado,,EF1,0,0,0.0,0,AL,CST-6,,164234,C,49,HUN,0,0,Emergency Manager,,0.95,50,2,SSW,2,SSW,LOVELESS,12/31/2021,1452,34.2875,-85.7878,34.2998,-85.7805,"A tornado briefly touched down in Mt Vernon, A...",An isolated supercell moved through southern D...
73605,996865,CARROLL CO.,TEMPLE,12/31/2021,1732,Tornado,,EF1,0,0,0.0,0,GA,EST-5,,165057,C,45,FFC,0,0,Emergency Manager,,2.75,150,2,ENE,3,NW,VILLA RICA,12/31/2021,1745,33.7372,-84.9998,33.7625,-84.9633,A tornado from a rare LP supercell touched dow...,Low-level shear with moderate instability resu...
73606,996864,NEWTON CO.,ABIDE AWHILE,12/31/2021,1739,Tornado,,EF1,0,6,0.0,0,GA,EST-5,,165057,C,217,FFC,0,0,NWS Employee,,2.5,75,1,W,1,S,FAIRVIEW,12/31/2021,1746,33.5676,-83.9877,33.5842,-83.9498,An isolated supercell thunderstorm developed d...,Low-level shear with moderate instability resu...

In [4]:
tornado_years['STATE_ABBR'].value_counts()

TX    9535
KS    4712
OK    4552
FL    3522
NE    3119
IA    3107
IL    2981
MS    2968
MO    2802
AL    2778
LA    2487
AR    2329
CO    2262
MN    2218
GA    2118
SD    1854
IN    1813
ND    1664
WI    1622
NC    1570
TN    1518
OH    1334
KY    1269
SC    1197
MI    1194
PA     984
VA     865
WY     719
NM     643
NY     497
CA     465
MT     419
MD     402
AZ     275
ID     216
MA     190
NJ     182
WV     161
ME     140
UT     137
WA     129
CT     125
OR     122
NH     107
NV      95
DE      74
VT      47
HI      42
XX      22
RI      16
DC       5
AK       3
Name: STATE_ABBR, dtype: int64

In [5]:
tornado_years = tornado_years.loc[tornado_years['EVENT_TYPE']=='Tornado']
tornado_years['STATE_ABBR'].value_counts()

TX    9535
KS    4712
OK    4552
FL    3522
NE    3119
IA    3107
IL    2981
MS    2968
MO    2802
AL    2778
LA    2487
AR    2329
CO    2262
MN    2218
GA    2118
SD    1854
IN    1813
ND    1664
WI    1622
NC    1570
TN    1518
OH    1334
KY    1269
SC    1197
MI    1194
PA     984
VA     865
WY     719
NM     643
NY     497
CA     465
MT     419
MD     402
AZ     275
ID     216
MA     190
NJ     182
WV     161
ME     140
UT     137
WA     129
CT     125
OR     122
NH     107
NV      95
DE      74
VT      47
HI      42
XX      22
RI      16
DC       5
AK       3
Name: STATE_ABBR, dtype: int64

In [6]:
tornado_years = tornado_years.drop(columns=['BEGIN_LOCATION', 'EVENT_TYPE', 'MAGNITUDE', 'DAMAGE_CROPS_NUM', 'CZ_TIMEZONE', 'MAGNITUDE_TYPE', 
                                            'EPISODE_ID', 'CZ_TYPE', 'CZ_FIPS', 'WFO', 'FLOOD_CAUSE', 'BEGIN_RANGE', 'BEGIN_AZIMUTH', 'END_RANGE',
                                            'END_AZIMUTH', 'END_LOCATION','TOR_LENGTH', 'TOR_WIDTH', 'DAMAGE_PROPERTY_NUM',
                                            'INJURIES_INDIRECT', 'DEATHS_INDIRECT'])

In [7]:
tornado_years

,EVENT_ID,CZ_NAME_STR,BEGIN_DATE,BEGIN_TIME,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,STATE_ABBR,SOURCE,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE
0,10063615,ST. LOUIS CO.,1/3/1950,1100,F3,0,3,MO,,1/3/1950,1100,38.77,-90.22,38.82,-90.12,NaN,NaN
1,10009710,MADISON CO.,1/3/1950,1110,F3,0,0,IL,,1/3/1950,1110,38.82,-90.1,38.83,-90.03,NaN,NaN
2,10009711,MONTGOMERY CO.,1/3/1950,1155,F3,0,3,IL,,1/3/1950,1155,39.1,-89.3,39.12,-89.23,NaN,NaN
3,10086808,VAN WERT CO.,1/3/1950,1600,F1,0,1,OH,,1/3/1950,1600,40.88,-84.58,,,NaN,NaN
4,9981922,POLK CO.,1/13/1950,525,F3,1,1,AR,,1/13/1950,525,34.4,-94.37,,,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73602,994814,JEFF DAVIS CO.,12/30/2021,1633,EF1,0,0,GA,Emergency Manager,12/30/2021,1655,31.69,-82.73,31.74,-82.54,"Just after 430 pm, a severe thunderstorm spawn...",A broken prefrontal squall line shifted southw...
73603,998990,PULASKI CO.,12/30/2021,1809,EF0,0,0,GA,NWS Storm Survey,12/30/2021,1832,32.23,-83.59,32.22,-83.42,This tornado touched down shortly after enteri...,Within an unseasonably warm and moist low-leve...
73604,998802,DEKALB CO.,12/31/2021,1449,EF1,0,0,AL,Emergency Manager,12/31/2021,1452,34.2875,-85.7878,34.2998,-85.7805,"A tornado briefly touched down in Mt Vernon, A...",An isolated supercell moved through southern D...
73605,996865,CARROLL CO.,12/31/2021,1732,EF1,0,0,GA,Emergency Manager,12/31/2021,1745,33.7372,-84.9998,33.7625,-84.9633,A tornado from a rare LP supercell touched dow...,Low-level shear with moderate instability resu...
73606,996864,NEWTON CO.,12/31/2021,1739,EF1,0,6,GA,NWS Employee,12/31/2021,1746,33.5676,-83.9877,33.5842,-83.9498,An isolated supercell thunderstorm developed d...,Low-level shear with moderate instability resu...

In [8]:
tornado_years[["BEGIN_MONTH", "BEGIN_DAY", "BEGIN_YEAR"]] = tornado_years["BEGIN_DATE"].str.split("/", expand = True)
tornado_years[["END_MONTH", "END_DAY", "END_YEAR"]] = tornado_years["END_DATE"].str.split("/", expand = True)

In [9]:
tornado_years

,EVENT_ID,CZ_NAME_STR,BEGIN_DATE,BEGIN_TIME,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,STATE_ABBR,SOURCE,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,BEGIN_MONTH,BEGIN_DAY,BEGIN_YEAR,END_MONTH,END_DAY,END_YEAR
0,10063615,ST. LOUIS CO.,1/3/1950,1100,F3,0,3,MO,,1/3/1950,1100,38.77,-90.22,38.82,-90.12,NaN,NaN,1,3,1950,1,3,1950
1,10009710,MADISON CO.,1/3/1950,1110,F3,0,0,IL,,1/3/1950,1110,38.82,-90.1,38.83,-90.03,NaN,NaN,1,3,1950,1,3,1950
2,10009711,MONTGOMERY CO.,1/3/1950,1155,F3,0,3,IL,,1/3/1950,1155,39.1,-89.3,39.12,-89.23,NaN,NaN,1,3,1950,1,3,1950
3,10086808,VAN WERT CO.,1/3/1950,1600,F1,0,1,OH,,1/3/1950,1600,40.88,-84.58,,,NaN,NaN,1,3,1950,1,3,1950
4,9981922,POLK CO.,1/13/1950,525,F3,1,1,AR,,1/13/1950,525,34.4,-94.37,,,NaN,NaN,1,13,1950,1,13,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73602,994814,JEFF DAVIS CO.,12/30/2021,1633,EF1,0,0,GA,Emergency Manager,12/30/2021,1655,31.69,-82.73,31.74,-82.54,"Just after 430 pm, a severe thunderstorm spawn...",A broken prefrontal squall line shifted southw...,12,30,2021,12,30,2021
73603,998990,PULASKI CO.,12/30/2021,1809,EF0,0,0,GA,NWS Storm Survey,12/30/2021,1832,32.23,-83.59,32.22,-83.42,This tornado touched down shortly after enteri...,Within an unseasonably warm and moist low-leve...,12,30,2021,12,30,2021
73604,998802,DEKALB CO.,12/31/2021,1449,EF1,0,0,AL,Emergency Manager,12/31/2021,1452,34.2875,-85.7878,34.2998,-85.7805,"A tornado briefly touched down in Mt Vernon, A...",An isolated supercell moved through southern D...,12,31,2021,12,31,2021
73605,996865,CARROLL CO.,12/31/2021,1732,EF1,0,0,GA,Emergency Manager,12/31/2021,1745,33.7372,-84.9998,33.7625,-84.9633,A tornado from a rare LP supercell touched dow...,Low-level shear with moderate instability resu...,12,31,2021,12,31,2021
73606,996864,NEWTON CO.,12/31/2021,1739,EF1,0,6,GA,NWS Employee,12/31/2021,1746,33.5676,-83.9877,33.5842,-83.9498,An isolated supercell thunderstorm developed d...,Low-level shear with moderate instability resu...,12,31,2021,12,31,2021

In [10]:
tornado_years['BEGIN_TIME'] = tornado_years['BEGIN_TIME'].astype(str)
tornado_years.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73607 entries, 0 to 73606
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EVENT_ID           73607 non-null  int64
 1   CZ_NAME_STR        73607 non-null  object
 2   BEGIN_DATE         73607 non-null  object
 3   BEGIN_TIME         73607 non-null  object
 4   TOR_F_SCALE        73607 non-null  object
 5   DEATHS_DIRECT      73607 non-null  int64
 6   INJURIES_DIRECT    73607 non-null  int64
 7   STATE_ABBR         73607 non-null  object
 8   SOURCE             73602 non-null  object
 9   END_DATE           73607 non-null  object
 10  END_TIME           73607 non-null  object
 11  BEGIN_LAT          73605 non-null  object
 12  BEGIN_LON          73606 non-null  object
 13  END_LAT            73607 non-null  object
 14  END_LON            73607 non-null  object
 15  EVENT_NARRATIVE    34930 non-null  object
 16  EPISODE_NARRATIVE  26691 non-null  object
 17  BEGIN_MONTH        73607 non-null  object
 18  BEGIN_DAY          73607 non-null  object
 19  BEGIN_YEAR         73607 non-null  object
 20  END_MONTH          73607 non-null  object
 21  END_DAY            73590 non-null  object
 22  END_YEAR           73590 non-null  object
dtypes: int64(3), object(20)
memory usage: 13.5+ MB

In [11]:
tornado_years = tornado_years.reset_index(drop = True)

In [12]:
n = 0
for i in tornado_years['BEGIN_TIME']:
    if len(re.findall(r'(\d)', i)) == 3:
        tornado_years.at[n, 'BEGIN_TIME'] = ((i[:1] + ':' + i[1:]))
    if len(re.findall(r'(\d)', i)) == 4:
        tornado_years.at[n, 'BEGIN_TIME'] = ((i[:2] + ':' + i[2:]))
    n += 1
    
tornado_years

,EVENT_ID,CZ_NAME_STR,BEGIN_DATE,BEGIN_TIME,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,STATE_ABBR,SOURCE,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,BEGIN_MONTH,BEGIN_DAY,BEGIN_YEAR,END_MONTH,END_DAY,END_YEAR
0,10063615,ST. LOUIS CO.,1/3/1950,11:00,F3,0,3,MO,,1/3/1950,1100,38.77,-90.22,38.82,-90.12,NaN,NaN,1,3,1950,1,3,1950
1,10009710,MADISON CO.,1/3/1950,11:10,F3,0,0,IL,,1/3/1950,1110,38.82,-90.1,38.83,-90.03,NaN,NaN,1,3,1950,1,3,1950
2,10009711,MONTGOMERY CO.,1/3/1950,11:55,F3,0,3,IL,,1/3/1950,1155,39.1,-89.3,39.12,-89.23,NaN,NaN,1,3,1950,1,3,1950
3,10086808,VAN WERT CO.,1/3/1950,16:00,F1,0,1,OH,,1/3/1950,1600,40.88,-84.58,,,NaN,NaN,1,3,1950,1,3,1950
4,9981922,POLK CO.,1/13/1950,5:25,F3,1,1,AR,,1/13/1950,525,34.4,-94.37,,,NaN,NaN,1,13,1950,1,13,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73602,994814,JEFF DAVIS CO.,12/30/2021,16:33,EF1,0,0,GA,Emergency Manager,12/30/2021,1655,31.69,-82.73,31.74,-82.54,"Just after 430 pm, a severe thunderstorm spawn...",A broken prefrontal squall line shifted southw...,12,30,2021,12,30,2021
73603,998990,PULASKI CO.,12/30/2021,18:09,EF0,0,0,GA,NWS Storm Survey,12/30/2021,1832,32.23,-83.59,32.22,-83.42,This tornado touched down shortly after enteri...,Within an unseasonably warm and moist low-leve...,12,30,2021,12,30,2021
73604,998802,DEKALB CO.,12/31/2021,14:49,EF1,0,0,AL,Emergency Manager,12/31/2021,1452,34.2875,-85.7878,34.2998,-85.7805,"A tornado briefly touched down in Mt Vernon, A...",An isolated supercell moved through southern D...,12,31,2021,12,31,2021
73605,996865,CARROLL CO.,12/31/2021,17:32,EF1,0,0,GA,Emergency Manager,12/31/2021,1745,33.7372,-84.9998,33.7625,-84.9633,A tornado from a rare LP supercell touched dow...,Low-level shear with moderate instability resu...,12,31,2021,12,31,2021
73606,996864,NEWTON CO.,12/31/2021,17:39,EF1,0,6,GA,NWS Employee,12/31/2021,1746,33.5676,-83.9877,33.5842,-83.9498,An isolated supercell thunderstorm developed d...,Low-level shear with moderate instability resu...,12,31,2021,12,31,2021

In [13]:
year_count = pd.DataFrame(tornado_years['BEGIN_YEAR'].value_counts()).reset_index()
year_count

   index  BEGIN_YEAR
0   2011        2074
1   2008        1954
2   2004        1947
3   2019        1732
4   2017        1647
..   ...         ...
67  1963         493
68  1953         492
69  1952         272
70  1951         269
71  1950         223

[72 rows x 2 columns]

In [14]:
tor_deaths = pd.DataFrame(tornado_years.groupby('BEGIN_YEAR')['DEATHS_DIRECT'].sum()).reset_index()
tor_deaths.tail(50)

   BEGIN_YEAR  DEATHS_DIRECT
22       1972             34
23       1973             89
24       1974            363
25       1975             60
26       1976             44
27       1977             43
28       1978             53
29       1979             84
30       1980             28
31       1981             24
32       1982             64
33       1983             34
34       1984            122
35       1985             94
36       1986             15
37       1987             59
38       1988             32
39       1989             50
40       1990             53
41       1991             39
42       1992             39
43       1993             26
44       1994             23
45       1995             34
46       1996             26
47       1997             68
48       1998            130
49       1999             94
50       2000             41
51       2001             40
52       2002             55
53       2003             54
54       2004             35
55       2005             38
56       2006             67
57       2007             81
58       2008            127
59       2009             21
60       2010             45
61       2011            553
62       2012             69
63       2013             55
64       2014             47
65       2015             36
66       2016             18
67       2017             35
68       2018             10
69       2019             42
70       2020             76
71       2021            103

In [15]:
tornado_years.loc[tornado_years['BEGIN_YEAR'] == '1993'].tail(50)

,EVENT_ID,CZ_NAME_STR,BEGIN_DATE,BEGIN_TIME,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,STATE_ABBR,SOURCE,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,BEGIN_MONTH,BEGIN_DAY,BEGIN_YEAR,END_MONTH,END_DAY,END_YEAR
35313,10352947,WOOD CO.,10/18/1993,17:40,F2,0,0,TX,,10/18/1993,1740,32.83,-95.62,32.87,-95.62,This tornado developed from the same mesocyclo...,NaN,10,18,1993,10,18,1993
35314,10352948,WOOD CO.,10/18/1993,17:43,F1,0,0,TX,,10/18/1993,1743,32.9,-95.33,32.97,-95.27,One building and a welding shop were destroyed...,NaN,10,18,1993,10,18,1993
35315,10348434,CAMP CO.,10/18/1993,18:40,F0,0,0,TX,,10/18/1993,1840,33,-95.07,,,A brief touchdown was reported.,NaN,10,18,1993,10,18,1993
35316,10348436,CAMP CO.,10/18/1993,19:00,F0,0,0,TX,,10/18/1993,1900,,,,,A brief touchdown was reported.,NaN,10,18,1993,10,18,1993
35317,10353729,SCURRY CO.,10/18/1993,21:20,F0,0,0,TX,,10/18/1993,2120,32.73,-101,,,A tornado was reported near Union by the Scurr...,NaN,10,18,1993,10,18,1993
35318,10316347,CONWAY CO.,10/18/1993,22:15,F1,0,0,AR,,10/18/1993,2222,35.12,-92.67,35.13,-92.6,A tornado touched down in the river bottoms ne...,NaN,10,18,1993,10,18,1993
35319,10354559,MCLENNAN CO.,10/19/1993,19:15,F0,0,0,TX,,10/19/1993,1915,31.52,-97.15,,,A brief touchdown was reported by a cooperativ...,NaN,10,19,1993,10,19,1993
35320,10355709,VAL VERDE S CO.,10/19/1993,19:32,F1,0,0,TX,,10/19/1993,1932,29.37,-100.9,,,Two tornados were reported in the south part o...,NaN,10,19,1993,10,19,1993
35321,10355712,VAL VERDE S CO.,10/19/1993,19:37,F1,0,4,TX,,10/19/1993,1937,29.37,-100.87,,,Two tornados were reported in the south part o...,NaN,10,19,1993,10,19,1993
35322,10348163,BURNET CO.,10/19/1993,22:00,F0,0,0,TX,,10/19/1993,2200,,,,,The Department of Public Safety reported a tor...,NaN,10,19,1993,10,19,1993
35323,10347715,CHEROKEE CO.,10/20/1993,2:25,F1,0,0,TX,,10/20/1993,245,31.87,-95.5,31.95,-95.4,"A tornado touched down at Neches, and then mov...",NaN,10,20,1993,10,20,1993
35324,10319449,WAKULLA CO.,10/29/1993,0,F0,0,0,FL,,10/29/1993,0,,,,,A waterspout touched down in the Okhlocknee Ri...,NaN,10,29,1993,10,29,1993
35325,10327239,ST. MARY PAR.,10/29/1993,13:00,F0,0,0,LA,,10/29/1993,1300,,,,,"A small, brief tornado blew down many tree lim...",NaN,10,29,1993,10,29,1993
35326,10319996,LEVY CO.,10/30/1993,2:51,F1,0,1,FL,,10/30/1993,251,29.13,-82.55,,,A small tornado overturned several trailers in...,NaN,10,30,1993,10,30,1993
35327,10321067,LEE CO.,10/30/1993,4:30,F2,3,27,GA,,10/30/1993,445,31.67,-84.17,31.7,-84.03,A tornado struck a subdivision five miles nort...,NaN,10,30,1993,10,30,1993
35328,10319998,LEVY CO.,10/30/1993,9:20,F0,0,0,FL,,10/30/1993,920,29.5,-82.88,,,A small tornado touched down briefly doing min...,NaN,10,30,1993,10,30,1993
35329,10318065,ALACHUA CO.,10/30/1993,9:39,F0,0,0,FL,,10/30/1993,939,29.53,-82.53,,,Sheriff's office personnel reported a tornado....,NaN,10,30,1993,10,30,1993
35330,10318066,ALACHUA CO.,10/30/1993,9:50,F0,0,0,FL,,10/30/1993,950,29.65,-82.62,,,Sheriff's office personnel briefly sighted a t...,NaN,10,30,1993,10,30,1993
35331,10319999,LEVY CO.,10/30/1993,9:55,F1,0,0,FL,,10/30/1993,955,29.45,-82.65,,,A tornado touched down in a development leveli...,NaN,10,30,1993,10,30,1993
35332,10320000,LEVY CO.,10/30/1993,10:16,F0,0,0,FL,,10/30/1993,1016,29.1,-82.63,,,A small tornado damaged trees.,NaN,10,30,1993,10,30,1993
35333,10319608,LEE CO.,10/30/1993,10:30,F1,0,1,FL,,10/30/1993,1030,26.33,-81.77,,,A tornado hit the Imperial Lakes Mobile Home P...,NaN,10,30,1993,10,30,1993
35334,10319609,LEE CO.,10/30/1993,11:05,F0,0,0,FL,,10/30/1993,1105,,,,,A second tornado hit the Imperial Lakes Mobile...,NaN,10,30,1993,10,30,1993
35335,10317695,CITRUS CO.,10/30/1993,11:08,F0,0,0,FL,,10/30/1993,1108,,,,,A small tornado hit a shopping mall uprooting ...,NaN,10,30,1993,10,30,1993
35336,10317657,CITRUS CO.,10/30/1993,11:19,F0,0,0,FL,,10/30/1993,1119,28.78,-82.62,,,A small tornado skipped through a mall parking...,NaN,10,30,1993,10,30,1993
35337,10355057,SALT LAKE CO.,11/5/1993,15:45,F0,0,0,UT,,11/5/1993,1545,40.77,-111.82,,,A cold northwest flow over the Great Salt Lake...,NaN,11,5,1993,11,5,1993
35338,10316566,ORANGE CO.,11/11/1993,9:30,F0,0,2,CA,,11/11/1993,930,33.68,-117.82,,,A small tornado overturned a mobile home.,NaN,11,11,1993,11,11,1993
35339,10316416,ARKANSAS CO.,11/13/1993,12:30,F0,0,0,AR,,11/13/1993,1234,34.12,-91.28,,,A small F0 tornado touched down four miles eas...,NaN,11,13,1993,11,13,1993
35340,10341211,MCCURTAIN CO.,11/13/1993,15:48,F0,0,0,OK,,11/13/1993,1548,33.93,-95.08,,,,NaN,11,13,1993,11,13,1993
35341,10317211,SALINE CO.,11/13/1993,16:39,F2,0,0,AR,,11/13/1993,1643,34.5,-92.63,,,A short-lived F2 tornado touched down in the c...,NaN,11,13,1993,11,13,1993
35342,10317367,POLK CO.,11/13/1993,16:50,F2,0,11,AR,,11/13/1993,1715,34.43,-94.45,34.62,-94.18,An F2 tornado touched down in Polk County and ...,NaN,11,13,1993,11,13,1993
35343,10328223,MERCER CO.,11/14/1993,9:31,F1,0,0,KY,,11/14/1993,931,37.72,-84.85,,,A small tornado touched down three miles south...,NaN,11,14,1993,11,14,1993
35344,10333211,BOLLINGER CO.,11/14/1993,10:15,F0,0,0,MO,,11/14/1993,1015,37.15,-90.08,,,A small tornado touched down briefly knocking ...,NaN,11,14,1993,11,14,1993
35345,10333222,CAPE GIRARDEAU CO.,11/14/1993,10:30,F0,0,0,MO,,11/14/1993,1030,37.2,-89.75,,,A tornado touched down briefly causing light d...,NaN,11,14,1993,11,14,1993
35346,10348301,BRAZORIA CO.,11/16/1993,7:10,F0,0,0,TX,,11/16/1993,710,29.45,-95.4,,,The Brazoria County Sheriff reported a brief t...,NaN,11,16,1993,11,16,1993
35347,10354492,LIBERTY CO.,11/16/1993,9:20,F0,0,0,TX,,11/16/1993,920,30.05,-94.98,,,The Liberty County Emergency Management report...,NaN,11,16,1993,11,16,1993
35348,10349974,HARRIS CO.,11/16/1993,9:49,F1,0,26,TX,,11/16/1993,1027,29.73,-95.37,,,The Lake Houston dam operator reported a torna...,NaN,11,16,1993,11,16,1993
35349,10349975,HARRIS CO.,11/16/1993,10:30,F0,0,0,TX,,11/16/1993,1030,,,,,The Lake Houston dam operator reported a torna...,NaN,11,16,1993,11,16,1993
35350,10349976,HARRIS CO.,11/16/1993,10:35,F0,0,0,TX,,11/16/1993,1044,30.03,-95.05,30.08,-95,,NaN,11,16,1993,11,16,1993
35351,10354493,LIBERTY CO.,11/16/1993,10:44,F0,0,0,TX,,11/16/1993,1050,,,,,Tornado touched down north of Huffman moved no...,NaN,11,16,1993,11,16,1993
35352,10354494,LIBERTY CO.,11/16/1993,11:30,F0,0,0,TX,,11/16/1993,1140,30.37,-94.87,,,The Liberty County Emergency Management report...,NaN,11,16,1993,11,16,1993
35353,10353618,POLK CO.,11/16/1993,11:47,F0,0,0,TX,,11/16/1993,1147,30.55,-94.72,,,The Polk County Sheriff Department reported a ...,NaN,11,16,1993,11,16,1993
35354,10347688,CHAMBERS CO.,11/16/1993,12:19,F1,0,0,TX,,11/16/1993,1219,29.85,-94.88,,,Houston Power and Light Company lost two long ...,NaN,11,16,1993,11,16,1993
35355,10331136,AMITE CO.,11/16/1993,22:30,F1,0,3,MS,,11/16/1993,2230,31.28,-90.63,31.35,-90.58,Three people were injured when a tornado rolle...,NaN,11,16,1993,11,16,1993
35356,10339962,PIKE CO.,11/17/1993,16:45,F0,0,0,OH,,11/17/1993,1645,39.03,-82.62,,,A small tornado touched down along Route 776 a...,NaN,11,17,1993,11,17,1993
35357,10328445,AVOYELLES PAR.,12/4/1993,3:30,F1,0,3,LA,,12/4/1993,330,,,,,A northeast-southwest line of numerous thunder...,NaN,12,4,1993,12,4,1993
35358,10330262,PIKE CO.,12/4/1993,6:30,F0,0,0,MS,,12/4/1993,630,31.18,-90.4,,,This weak tornado blew down several trees. A ...,NaN,12,4,1993,12,4,1993
35359,10329955,JEFFERSON DAVIS CO.,12/4/1993,7:21,F0,0,0,MS,,12/4/1993,721,31.5,-89.77,,,The tornado moved through a wooded area and bl...,NaN,12,4,1993,12,4,1993
35360,10331058,COVINGTON CO.,12/4/1993,8:30,F0,0,0,MS,,12/4/1993,830,31.65,-89.55,31.68,-89.5,"The second floor of a sawmill was blown off, s...",NaN,12,4,1993,12,4,1993
35361,10343935,YAMHILL AND WASHINGTON CO.,12/8/1993,14:00,F2,0,0,OR,,12/8/1993,1430,,,,,The powerful storm that caused high winds acro...,NaN,12,8,1993,12,8,1993
35362,10327691,ST. CHARLES PAR.,12/13/1993,15:55,F1,0,1,LA,,12/13/1993,1555,29.93,-90.35,,,,NaN,12,13,1993,12,13,1993

In [16]:
tornado_years['TOR_F_SCALE'].value_counts()

F0     20769
F1     16917
EF0    10521
F2      9019
EF1     7103
F3      2893
        1970
EF2     1963
F4       993
EFU      648
EF3      548
EF4      125
F5       124
EF5       14
Name: TOR_F_SCALE, dtype: int64

In [17]:
#tornado_years[['Letter_Scale','Number_Scale']]=tornado_years['TOR_F_SCALE'].str.split("F", expand = True)

In [18]:
tornado_years

,EVENT_ID,CZ_NAME_STR,BEGIN_DATE,BEGIN_TIME,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,STATE_ABBR,SOURCE,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,BEGIN_MONTH,BEGIN_DAY,BEGIN_YEAR,END_MONTH,END_DAY,END_YEAR
0,10063615,ST. LOUIS CO.,1/3/1950,11:00,F3,0,3,MO,,1/3/1950,1100,38.77,-90.22,38.82,-90.12,NaN,NaN,1,3,1950,1,3,1950
1,10009710,MADISON CO.,1/3/1950,11:10,F3,0,0,IL,,1/3/1950,1110,38.82,-90.1,38.83,-90.03,NaN,NaN,1,3,1950,1,3,1950
2,10009711,MONTGOMERY CO.,1/3/1950,11:55,F3,0,3,IL,,1/3/1950,1155,39.1,-89.3,39.12,-89.23,NaN,NaN,1,3,1950,1,3,1950
3,10086808,VAN WERT CO.,1/3/1950,16:00,F1,0,1,OH,,1/3/1950,1600,40.88,-84.58,,,NaN,NaN,1,3,1950,1,3,1950
4,9981922,POLK CO.,1/13/1950,5:25,F3,1,1,AR,,1/13/1950,525,34.4,-94.37,,,NaN,NaN,1,13,1950,1,13,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73602,994814,JEFF DAVIS CO.,12/30/2021,16:33,EF1,0,0,GA,Emergency Manager,12/30/2021,1655,31.69,-82.73,31.74,-82.54,"Just after 430 pm, a severe thunderstorm spawn...",A broken prefrontal squall line shifted southw...,12,30,2021,12,30,2021
73603,998990,PULASKI CO.,12/30/2021,18:09,EF0,0,0,GA,NWS Storm Survey,12/30/2021,1832,32.23,-83.59,32.22,-83.42,This tornado touched down shortly after enteri...,Within an unseasonably warm and moist low-leve...,12,30,2021,12,30,2021
73604,998802,DEKALB CO.,12/31/2021,14:49,EF1,0,0,AL,Emergency Manager,12/31/2021,1452,34.2875,-85.7878,34.2998,-85.7805,"A tornado briefly touched down in Mt Vernon, A...",An isolated supercell moved through southern D...,12,31,2021,12,31,2021
73605,996865,CARROLL CO.,12/31/2021,17:32,EF1,0,0,GA,Emergency Manager,12/31/2021,1745,33.7372,-84.9998,33.7625,-84.9633,A tornado from a rare LP supercell touched dow...,Low-level shear with moderate instability resu...,12,31,2021,12,31,2021
73606,996864,NEWTON CO.,12/31/2021,17:39,EF1,0,6,GA,NWS Employee,12/31/2021,1746,33.5676,-83.9877,33.5842,-83.9498,An isolated supercell thunderstorm developed d...,Low-level shear with moderate instability resu...,12,31,2021,12,31,2021

In [19]:
tornado_years['Number_Scale'] = tornado_years['TOR_F_SCALE']
tornado_years['Number_Scale'] = tornado_years['Number_Scale'].str.strip('F')
tornado_years

,EVENT_ID,CZ_NAME_STR,BEGIN_DATE,BEGIN_TIME,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,STATE_ABBR,SOURCE,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,BEGIN_MONTH,BEGIN_DAY,BEGIN_YEAR,END_MONTH,END_DAY,END_YEAR,Number_Scale
0,10063615,ST. LOUIS CO.,1/3/1950,11:00,F3,0,3,MO,,1/3/1950,1100,38.77,-90.22,38.82,-90.12,NaN,NaN,1,3,1950,1,3,1950,3
1,10009710,MADISON CO.,1/3/1950,11:10,F3,0,0,IL,,1/3/1950,1110,38.82,-90.1,38.83,-90.03,NaN,NaN,1,3,1950,1,3,1950,3
2,10009711,MONTGOMERY CO.,1/3/1950,11:55,F3,0,3,IL,,1/3/1950,1155,39.1,-89.3,39.12,-89.23,NaN,NaN,1,3,1950,1,3,1950,3
3,10086808,VAN WERT CO.,1/3/1950,16:00,F1,0,1,OH,,1/3/1950,1600,40.88,-84.58,,,NaN,NaN,1,3,1950,1,3,1950,1
4,9981922,POLK CO.,1/13/1950,5:25,F3,1,1,AR,,1/13/1950,525,34.4,-94.37,,,NaN,NaN,1,13,1950,1,13,1950,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73602,994814,JEFF DAVIS CO.,12/30/2021,16:33,EF1,0,0,GA,Emergency Manager,12/30/2021,1655,31.69,-82.73,31.74,-82.54,"Just after 430 pm, a severe thunderstorm spawn...",A broken prefrontal squall line shifted southw...,12,30,2021,12,30,2021,EF1
73603,998990,PULASKI CO.,12/30/2021,18:09,EF0,0,0,GA,NWS Storm Survey,12/30/2021,1832,32.23,-83.59,32.22,-83.42,This tornado touched down shortly after enteri...,Within an unseasonably warm and moist low-leve...,12,30,2021,12,30,2021,EF0
73604,998802,DEKALB CO.,12/31/2021,14:49,EF1,0,0,AL,Emergency Manager,12/31/2021,1452,34.2875,-85.7878,34.2998,-85.7805,"A tornado briefly touched down in Mt Vernon, A...",An isolated supercell moved through southern D...,12,31,2021,12,31,2021,EF1
73605,996865,CARROLL CO.,12/31/2021,17:32,EF1,0,0,GA,Emergency Manager,12/31/2021,1745,33.7372,-84.9998,33.7625,-84.9633,A tornado from a rare LP supercell touched dow...,Low-level shear with moderate instability resu...,12,31,2021,12,31,2021,EF1
73606,996864,NEWTON CO.,12/31/2021,17:39,EF1,0,6,GA,NWS Employee,12/31/2021,1746,33.5676,-83.9877,33.5842,-83.9498,An isolated supercell thunderstorm developed d...,Low-level shear with moderate instability resu...,12,31,2021,12,31,2021,EF1

In [20]:
tornado_years['Number_Scale'] = tornado_years['Number_Scale'].str.strip('EF')
tornado_years

,EVENT_ID,CZ_NAME_STR,BEGIN_DATE,BEGIN_TIME,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,STATE_ABBR,SOURCE,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,BEGIN_MONTH,BEGIN_DAY,BEGIN_YEAR,END_MONTH,END_DAY,END_YEAR,Number_Scale
0,10063615,ST. LOUIS CO.,1/3/1950,11:00,F3,0,3,MO,,1/3/1950,1100,38.77,-90.22,38.82,-90.12,NaN,NaN,1,3,1950,1,3,1950,3
1,10009710,MADISON CO.,1/3/1950,11:10,F3,0,0,IL,,1/3/1950,1110,38.82,-90.1,38.83,-90.03,NaN,NaN,1,3,1950,1,3,1950,3
2,10009711,MONTGOMERY CO.,1/3/1950,11:55,F3,0,3,IL,,1/3/1950,1155,39.1,-89.3,39.12,-89.23,NaN,NaN,1,3,1950,1,3,1950,3
3,10086808,VAN WERT CO.,1/3/1950,16:00,F1,0,1,OH,,1/3/1950,1600,40.88,-84.58,,,NaN,NaN,1,3,1950,1,3,1950,1
4,9981922,POLK CO.,1/13/1950,5:25,F3,1,1,AR,,1/13/1950,525,34.4,-94.37,,,NaN,NaN,1,13,1950,1,13,1950,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73602,994814,JEFF DAVIS CO.,12/30/2021,16:33,EF1,0,0,GA,Emergency Manager,12/30/2021,1655,31.69,-82.73,31.74,-82.54,"Just after 430 pm, a severe thunderstorm spawn...",A broken prefrontal squall line shifted southw...,12,30,2021,12,30,2021,1
73603,998990,PULASKI CO.,12/30/2021,18:09,EF0,0,0,GA,NWS Storm Survey,12/30/2021,1832,32.23,-83.59,32.22,-83.42,This tornado touched down shortly after enteri...,Within an unseasonably warm and moist low-leve...,12,30,2021,12,30,2021,0
73604,998802,DEKALB CO.,12/31/2021,14:49,EF1,0,0,AL,Emergency Manager,12/31/2021,1452,34.2875,-85.7878,34.2998,-85.7805,"A tornado briefly touched down in Mt Vernon, A...",An isolated supercell moved through southern D...,12,31,2021,12,31,2021,1
73605,996865,CARROLL CO.,12/31/2021,17:32,EF1,0,0,GA,Emergency Manager,12/31/2021,1745,33.7372,-84.9998,33.7625,-84.9633,A tornado from a rare LP supercell touched dow...,Low-level shear with moderate instability resu...,12,31,2021,12,31,2021,1
73606,996864,NEWTON CO.,12/31/2021,17:39,EF1,0,6,GA,NWS Employee,12/31/2021,1746,33.5676,-83.9877,33.5842,-83.9498,An isolated supercell thunderstorm developed d...,Low-level shear with moderate instability resu...,12,31,2021,12,31,2021,1

In [21]:
tornado_years['Number_Scale'] = tornado_years['Number_Scale'].str.strip('U')
tornado_years

,EVENT_ID,CZ_NAME_STR,BEGIN_DATE,BEGIN_TIME,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,STATE_ABBR,SOURCE,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,BEGIN_MONTH,BEGIN_DAY,BEGIN_YEAR,END_MONTH,END_DAY,END_YEAR,Number_Scale
0,10063615,ST. LOUIS CO.,1/3/1950,11:00,F3,0,3,MO,,1/3/1950,1100,38.77,-90.22,38.82,-90.12,NaN,NaN,1,3,1950,1,3,1950,3
1,10009710,MADISON CO.,1/3/1950,11:10,F3,0,0,IL,,1/3/1950,1110,38.82,-90.1,38.83,-90.03,NaN,NaN,1,3,1950,1,3,1950,3
2,10009711,MONTGOMERY CO.,1/3/1950,11:55,F3,0,3,IL,,1/3/1950,1155,39.1,-89.3,39.12,-89.23,NaN,NaN,1,3,1950,1,3,1950,3
3,10086808,VAN WERT CO.,1/3/1950,16:00,F1,0,1,OH,,1/3/1950,1600,40.88,-84.58,,,NaN,NaN,1,3,1950,1,3,1950,1
4,9981922,POLK CO.,1/13/1950,5:25,F3,1,1,AR,,1/13/1950,525,34.4,-94.37,,,NaN,NaN,1,13,1950,1,13,1950,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73602,994814,JEFF DAVIS CO.,12/30/2021,16:33,EF1,0,0,GA,Emergency Manager,12/30/2021,1655,31.69,-82.73,31.74,-82.54,"Just after 430 pm, a severe thunderstorm spawn...",A broken prefrontal squall line shifted southw...,12,30,2021,12,30,2021,1
73603,998990,PULASKI CO.,12/30/2021,18:09,EF0,0,0,GA,NWS Storm Survey,12/30/2021,1832,32.23,-83.59,32.22,-83.42,This tornado touched down shortly after enteri...,Within an unseasonably warm and moist low-leve...,12,30,2021,12,30,2021,0
73604,998802,DEKALB CO.,12/31/2021,14:49,EF1,0,0,AL,Emergency Manager,12/31/2021,1452,34.2875,-85.7878,34.2998,-85.7805,"A tornado briefly touched down in Mt Vernon, A...",An isolated supercell moved through southern D...,12,31,2021,12,31,2021,1
73605,996865,CARROLL CO.,12/31/2021,17:32,EF1,0,0,GA,Emergency Manager,12/31/2021,1745,33.7372,-84.9998,33.7625,-84.9633,A tornado from a rare LP supercell touched dow...,Low-level shear with moderate instability resu...,12,31,2021,12,31,2021,1
73606,996864,NEWTON CO.,12/31/2021,17:39,EF1,0,6,GA,NWS Employee,12/31/2021,1746,33.5676,-83.9877,33.5842,-83.9498,An isolated supercell thunderstorm developed d...,Low-level shear with moderate instability resu...,12,31,2021,12,31,2021,1

In [22]:
tornado_years['Number_Scale'] = tornado_years['Number_Scale'].str.strip()
tornado_years

,EVENT_ID,CZ_NAME_STR,BEGIN_DATE,BEGIN_TIME,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,STATE_ABBR,SOURCE,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,BEGIN_MONTH,BEGIN_DAY,BEGIN_YEAR,END_MONTH,END_DAY,END_YEAR,Number_Scale
0,10063615,ST. LOUIS CO.,1/3/1950,11:00,F3,0,3,MO,,1/3/1950,1100,38.77,-90.22,38.82,-90.12,NaN,NaN,1,3,1950,1,3,1950,3
1,10009710,MADISON CO.,1/3/1950,11:10,F3,0,0,IL,,1/3/1950,1110,38.82,-90.1,38.83,-90.03,NaN,NaN,1,3,1950,1,3,1950,3
2,10009711,MONTGOMERY CO.,1/3/1950,11:55,F3,0,3,IL,,1/3/1950,1155,39.1,-89.3,39.12,-89.23,NaN,NaN,1,3,1950,1,3,1950,3
3,10086808,VAN WERT CO.,1/3/1950,16:00,F1,0,1,OH,,1/3/1950,1600,40.88,-84.58,,,NaN,NaN,1,3,1950,1,3,1950,1
4,9981922,POLK CO.,1/13/1950,5:25,F3,1,1,AR,,1/13/1950,525,34.4,-94.37,,,NaN,NaN,1,13,1950,1,13,1950,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73602,994814,JEFF DAVIS CO.,12/30/2021,16:33,EF1,0,0,GA,Emergency Manager,12/30/2021,1655,31.69,-82.73,31.74,-82.54,"Just after 430 pm, a severe thunderstorm spawn...",A broken prefrontal squall line shifted southw...,12,30,2021,12,30,2021,1
73603,998990,PULASKI CO.,12/30/2021,18:09,EF0,0,0,GA,NWS Storm Survey,12/30/2021,1832,32.23,-83.59,32.22,-83.42,This tornado touched down shortly after enteri...,Within an unseasonably warm and moist low-leve...,12,30,2021,12,30,2021,0
73604,998802,DEKALB CO.,12/31/2021,14:49,EF1,0,0,AL,Emergency Manager,12/31/2021,1452,34.2875,-85.7878,34.2998,-85.7805,"A tornado briefly touched down in Mt Vernon, A...",An isolated supercell moved through southern D...,12,31,2021,12,31,2021,1
73605,996865,CARROLL CO.,12/31/2021,17:32,EF1,0,0,GA,Emergency Manager,12/31/2021,1745,33.7372,-84.9998,33.7625,-84.9633,A tornado from a rare LP supercell touched dow...,Low-level shear with moderate instability resu...,12,31,2021,12,31,2021,1
73606,996864,NEWTON CO.,12/31/2021,17:39,EF1,0,6,GA,NWS Employee,12/31/2021,1746,33.5676,-83.9877,33.5842,-83.9498,An isolated supercell thunderstorm developed d...,Low-level shear with moderate instability resu...,12,31,2021,12,31,2021,1

In [23]:
#tornado_years.to_csv('all_tornado.csv')

In [26]:
tornado_years.groupby('STATE_ABBR')['EVENT_ID'].count()

STATE_ABBR
AK       3
AL    2778
AR    2329
AZ     275
CA     465
CO    2262
CT     125
DC       5
DE      74
FL    3522
GA    2118
HI      42
IA    3107
ID     216
IL    2981
IN    1813
KS    4712
KY    1269
LA    2487
MA     190
MD     402
ME     140
MI    1194
MN    2218
MO    2802
MS    2968
MT     419
NC    1570
ND    1664
NE    3119
NH     107
NJ     182
NM     643
NV      95
NY     497
OH    1334
OK    4552
OR     122
PA     984
RI      16
SC    1197
SD    1854
TN    1518
TX    9535
UT     137
VA     865
VT      47
WA     129
WI    1622
WV     161
WY     719
XX      22
Name: EVENT_ID, dtype: int64