In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import glob
import os
import datetime as dt

%matplotlib inline

In [2]:
file = os.path.join('C:\\Users\\saras\\Documents\\NSS\\Capstone\\final_capstone\\Data\\', 'tornado_*.csv')
file = glob.glob(file)
tornado_years = pd.concat(map(pd.read_csv,file), ignore_index = True)
tornado_years

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,EVENT_TYPE,MAGNITUDE,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,...,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58
0,10063615,ST. LOUIS CO.,,1/3/1950,1100,Tornado,0,F3,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10009710,MADISON CO.,,1/3/1950,1110,Tornado,0,F3,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10009711,MONTGOMERY CO.,,1/3/1950,1155,Tornado,0,F3,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10086808,VAN WERT CO.,,1/3/1950,1600,Tornado,0,F1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9981922,POLK CO.,,1/13/1950,525,Tornado,0,F3,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73602,994814,JEFF DAVIS CO.,DENTON,12/30/2021,1633,Tornado,,EF1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73603,998990,PULASKI CO.,BROWNDALE,12/30/2021,1809,Tornado,,EF0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73604,998802,DEKALB CO.,LOVELESS,12/31/2021,1449,Tornado,,EF1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73605,996865,CARROLL CO.,TEMPLE,12/31/2021,1732,Tornado,,EF1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73606,996864,NEWTON CO.,ABIDE AWHILE,12/31/2021,1739,Tornado,,EF1,0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
pd.set_option('display.max_columns', None)
tornado_years = tornado_years.drop(tornado_years.columns[38:],axis=1)
tornado_years

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,EVENT_TYPE,MAGNITUDE,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,DAMAGE_PROPERTY_NUM,DAMAGE_CROPS_NUM,STATE_ABBR,CZ_TIMEZONE,MAGNITUDE_TYPE,EPISODE_ID,CZ_TYPE,CZ_FIPS,WFO,INJURIES_INDIRECT,DEATHS_INDIRECT,SOURCE,FLOOD_CAUSE,TOR_LENGTH,TOR_WIDTH,BEGIN_RANGE,BEGIN_AZIMUTH,END_RANGE,END_AZIMUTH,END_LOCATION,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE
0,10063615,ST. LOUIS CO.,,1/3/1950,1100,Tornado,0,F3,0,3,2500000.0,0,MO,CST,,,C,189,,0,0,,,6.2,150,0,,0,,,1/3/1950,1100,38.77,-90.22,38.82,-90.12,NaN,NaN
1,10009710,MADISON CO.,,1/3/1950,1110,Tornado,0,F3,0,0,250000.0,0,IL,CST,,,C,119,,0,0,,,3.3,100,0,,0,,,1/3/1950,1110,38.82,-90.1,38.83,-90.03,NaN,NaN
2,10009711,MONTGOMERY CO.,,1/3/1950,1155,Tornado,0,F3,0,3,250000.0,0,IL,CST,,,C,135,,0,0,,,3.6,130,0,,0,,,1/3/1950,1155,39.1,-89.3,39.12,-89.23,NaN,NaN
3,10086808,VAN WERT CO.,,1/3/1950,1600,Tornado,0,F1,0,1,25000.0,0,OH,CST,,,C,161,,0,0,,,0.1,33,0,,0,,,1/3/1950,1600,40.88,-84.58,,,NaN,NaN
4,9981922,POLK CO.,,1/13/1950,525,Tornado,0,F3,1,1,2500.0,0,AR,CST,,,C,113,,0,0,,,0.6,17,0,,0,,,1/13/1950,525,34.4,-94.37,,,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73602,994814,JEFF DAVIS CO.,DENTON,12/30/2021,1633,Tornado,,EF1,0,0,0.0,0,GA,EST-5,,164767,C,161,JAX,0,0,Emergency Manager,,11.89,300,3,SW,8,E,BROOKER,12/30/2021,1655,31.69,-82.73,31.74,-82.54,"Just after 430 pm, a severe thunderstorm spawn...",A broken prefrontal squall line shifted southw...
73603,998990,PULASKI CO.,BROWNDALE,12/30/2021,1809,Tornado,,EF0,0,0,0.0,0,GA,EST-5,,165054,C,235,FFC,0,0,NWS Storm Survey,,10.1,200,5,S,4,S,HAWKINSVILLE ARPT,12/30/2021,1832,32.23,-83.59,32.22,-83.42,This tornado touched down shortly after enteri...,Within an unseasonably warm and moist low-leve...
73604,998802,DEKALB CO.,LOVELESS,12/31/2021,1449,Tornado,,EF1,0,0,0.0,0,AL,CST-6,,164234,C,49,HUN,0,0,Emergency Manager,,0.95,50,2,SSW,2,SSW,LOVELESS,12/31/2021,1452,34.2875,-85.7878,34.2998,-85.7805,"A tornado briefly touched down in Mt Vernon, A...",An isolated supercell moved through southern D...
73605,996865,CARROLL CO.,TEMPLE,12/31/2021,1732,Tornado,,EF1,0,0,0.0,0,GA,EST-5,,165057,C,45,FFC,0,0,Emergency Manager,,2.75,150,2,ENE,3,NW,VILLA RICA,12/31/2021,1745,33.7372,-84.9998,33.7625,-84.9633,A tornado from a rare LP supercell touched dow...,Low-level shear with moderate instability resu...
73606,996864,NEWTON CO.,ABIDE AWHILE,12/31/2021,1739,Tornado,,EF1,0,6,0.0,0,GA,EST-5,,165057,C,217,FFC,0,0,NWS Employee,,2.5,75,1,W,1,S,FAIRVIEW,12/31/2021,1746,33.5676,-83.9877,33.5842,-83.9498,An isolated supercell thunderstorm developed d...,Low-level shear with moderate instability resu...

In [4]:
tornado_years['STATE_ABBR'].value_counts()

TX         9535
KS         4712
OK         4552
FL         3522
NE         3119
IA         3104
IL         2980
MS         2968
MO         2802
AL         2778
LA         2487
AR         2329
CO         2262
MN         2218
GA         2118
SD         1854
IN         1813
ND         1664
WI         1622
NC         1570
TN         1518
OH         1334
KY         1269
SC         1197
MI         1194
PA          984
VA          865
WY          719
NM          643
NY          497
CA          465
MT          419
MD          401
AZ          275
ID          216
MA          190
NJ          182
WV          161
ME          140
UT          137
WA          129
CT          125
OR          122
NH          107
NV           95
DE           74
VT           47
HI           42
XX           22
RI           16
DC            5
AK            3
3000000       2
0             1
22000         1
60000         1
Name: STATE_ABBR, dtype: int64

In [5]:
tornado_years = tornado_years.loc[tornado_years['EVENT_TYPE']=='Tornado']
tornado_years['STATE_ABBR'].value_counts()

TX    9535
KS    4712
OK    4552
FL    3522
NE    3119
IA    3104
IL    2980
MS    2968
MO    2802
AL    2778
LA    2487
AR    2329
CO    2262
MN    2218
GA    2118
SD    1854
IN    1813
ND    1664
WI    1622
NC    1570
TN    1518
OH    1334
KY    1269
SC    1197
MI    1194
PA     984
VA     865
WY     719
NM     643
NY     497
CA     465
MT     419
MD     401
AZ     275
ID     216
MA     190
NJ     182
WV     161
ME     140
UT     137
WA     129
CT     125
OR     122
NH     107
NV      95
DE      74
VT      47
HI      42
XX      22
RI      16
DC       5
AK       3
Name: STATE_ABBR, dtype: int64

In [6]:
tornado_years = tornado_years.drop(columns=['BEGIN_LOCATION', 'EVENT_TYPE', 'MAGNITUDE', 'DAMAGE_CROPS_NUM', 'CZ_TIMEZONE', 'MAGNITUDE_TYPE', 
                                            'EPISODE_ID', 'CZ_TYPE', 'CZ_FIPS', 'WFO', 'FLOOD_CAUSE', 'BEGIN_RANGE', 'BEGIN_AZIMUTH', 'END_RANGE',
                                            'END_AZIMUTH', 'END_LOCATION','TOR_LENGTH', 'TOR_WIDTH', 'DAMAGE_PROPERTY_NUM',
                                            'INJURIES_INDIRECT', 'DEATHS_INDIRECT'])

In [7]:
tornado_years

,EVENT_ID,CZ_NAME_STR,BEGIN_DATE,BEGIN_TIME,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,STATE_ABBR,SOURCE,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE
0,10063615,ST. LOUIS CO.,1/3/1950,1100,F3,0,3,MO,,1/3/1950,1100,38.77,-90.22,38.82,-90.12,NaN,NaN
1,10009710,MADISON CO.,1/3/1950,1110,F3,0,0,IL,,1/3/1950,1110,38.82,-90.1,38.83,-90.03,NaN,NaN
2,10009711,MONTGOMERY CO.,1/3/1950,1155,F3,0,3,IL,,1/3/1950,1155,39.1,-89.3,39.12,-89.23,NaN,NaN
3,10086808,VAN WERT CO.,1/3/1950,1600,F1,0,1,OH,,1/3/1950,1600,40.88,-84.58,,,NaN,NaN
4,9981922,POLK CO.,1/13/1950,525,F3,1,1,AR,,1/13/1950,525,34.4,-94.37,,,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73602,994814,JEFF DAVIS CO.,12/30/2021,1633,EF1,0,0,GA,Emergency Manager,12/30/2021,1655,31.69,-82.73,31.74,-82.54,"Just after 430 pm, a severe thunderstorm spawn...",A broken prefrontal squall line shifted southw...
73603,998990,PULASKI CO.,12/30/2021,1809,EF0,0,0,GA,NWS Storm Survey,12/30/2021,1832,32.23,-83.59,32.22,-83.42,This tornado touched down shortly after enteri...,Within an unseasonably warm and moist low-leve...
73604,998802,DEKALB CO.,12/31/2021,1449,EF1,0,0,AL,Emergency Manager,12/31/2021,1452,34.2875,-85.7878,34.2998,-85.7805,"A tornado briefly touched down in Mt Vernon, A...",An isolated supercell moved through southern D...
73605,996865,CARROLL CO.,12/31/2021,1732,EF1,0,0,GA,Emergency Manager,12/31/2021,1745,33.7372,-84.9998,33.7625,-84.9633,A tornado from a rare LP supercell touched dow...,Low-level shear with moderate instability resu...
73606,996864,NEWTON CO.,12/31/2021,1739,EF1,0,6,GA,NWS Employee,12/31/2021,1746,33.5676,-83.9877,33.5842,-83.9498,An isolated supercell thunderstorm developed d...,Low-level shear with moderate instability resu...

In [8]:
tornado_years[["BEGIN_MONTH", "BEGIN_DAY", "BEGIN_YEAR"]] = tornado_years["BEGIN_DATE"].str.split("/", expand = True)
tornado_years[["END_MONTH", "END_DAY", "END_YEAR"]] = tornado_years["END_DATE"].str.split("/", expand = True)

In [9]:
tornado_years

,EVENT_ID,CZ_NAME_STR,BEGIN_DATE,BEGIN_TIME,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,STATE_ABBR,SOURCE,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,BEGIN_MONTH,BEGIN_DAY,BEGIN_YEAR,END_MONTH,END_DAY,END_YEAR
0,10063615,ST. LOUIS CO.,1/3/1950,1100,F3,0,3,MO,,1/3/1950,1100,38.77,-90.22,38.82,-90.12,NaN,NaN,1,3,1950,1,3,1950
1,10009710,MADISON CO.,1/3/1950,1110,F3,0,0,IL,,1/3/1950,1110,38.82,-90.1,38.83,-90.03,NaN,NaN,1,3,1950,1,3,1950
2,10009711,MONTGOMERY CO.,1/3/1950,1155,F3,0,3,IL,,1/3/1950,1155,39.1,-89.3,39.12,-89.23,NaN,NaN,1,3,1950,1,3,1950
3,10086808,VAN WERT CO.,1/3/1950,1600,F1,0,1,OH,,1/3/1950,1600,40.88,-84.58,,,NaN,NaN,1,3,1950,1,3,1950
4,9981922,POLK CO.,1/13/1950,525,F3,1,1,AR,,1/13/1950,525,34.4,-94.37,,,NaN,NaN,1,13,1950,1,13,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73602,994814,JEFF DAVIS CO.,12/30/2021,1633,EF1,0,0,GA,Emergency Manager,12/30/2021,1655,31.69,-82.73,31.74,-82.54,"Just after 430 pm, a severe thunderstorm spawn...",A broken prefrontal squall line shifted southw...,12,30,2021,12,30,2021
73603,998990,PULASKI CO.,12/30/2021,1809,EF0,0,0,GA,NWS Storm Survey,12/30/2021,1832,32.23,-83.59,32.22,-83.42,This tornado touched down shortly after enteri...,Within an unseasonably warm and moist low-leve...,12,30,2021,12,30,2021
73604,998802,DEKALB CO.,12/31/2021,1449,EF1,0,0,AL,Emergency Manager,12/31/2021,1452,34.2875,-85.7878,34.2998,-85.7805,"A tornado briefly touched down in Mt Vernon, A...",An isolated supercell moved through southern D...,12,31,2021,12,31,2021
73605,996865,CARROLL CO.,12/31/2021,1732,EF1,0,0,GA,Emergency Manager,12/31/2021,1745,33.7372,-84.9998,33.7625,-84.9633,A tornado from a rare LP supercell touched dow...,Low-level shear with moderate instability resu...,12,31,2021,12,31,2021
73606,996864,NEWTON CO.,12/31/2021,1739,EF1,0,6,GA,NWS Employee,12/31/2021,1746,33.5676,-83.9877,33.5842,-83.9498,An isolated supercell thunderstorm developed d...,Low-level shear with moderate instability resu...,12,31,2021,12,31,2021

In [10]:
tornado_years['BEGIN_TIME'] = tornado_years['BEGIN_TIME'].astype(str)
tornado_years.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73602 entries, 0 to 73606
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EVENT_ID           73602 non-null  int64
 1   CZ_NAME_STR        73602 non-null  object
 2   BEGIN_DATE         73602 non-null  object
 3   BEGIN_TIME         73602 non-null  object
 4   TOR_F_SCALE        73602 non-null  object
 5   DEATHS_DIRECT      73602 non-null  object
 6   INJURIES_DIRECT    73602 non-null  object
 7   STATE_ABBR         73602 non-null  object
 8   SOURCE             73602 non-null  object
 9   END_DATE           73602 non-null  object
 10  END_TIME           73602 non-null  object
 11  BEGIN_LAT          73602 non-null  object
 12  BEGIN_LON          73602 non-null  object
 13  END_LAT            73602 non-null  object
 14  END_LON            73602 non-null  object
 15  EVENT_NARRATIVE    34928 non-null  object
 16  EPISODE_NARRATIVE  26688 non-null  object
 17  BEGIN_MONTH        73602 non-null  object
 18  BEGIN_DAY          73602 non-null  object
 19  BEGIN_YEAR         73602 non-null  object
 20  END_MONTH          73602 non-null  object
 21  END_DAY            73585 non-null  object
 22  END_YEAR           73585 non-null  object
dtypes: int64(1), object(22)
memory usage: 13.5+ MB

In [11]:
tornado_years = tornado_years.reset_index(drop = True)

In [12]:
n = 0
for i in tornado_years['BEGIN_TIME']:
    if len(re.findall(r'(\d)', i)) == 3:
        tornado_years.at[n, 'BEGIN_TIME'] = ((i[:1] + ':' + i[1:]))
    if len(re.findall(r'(\d)', i)) == 4:
        tornado_years.at[n, 'BEGIN_TIME'] = ((i[:2] + ':' + i[2:]))
    n += 1
    
tornado_years

,EVENT_ID,CZ_NAME_STR,BEGIN_DATE,BEGIN_TIME,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,STATE_ABBR,SOURCE,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,BEGIN_MONTH,BEGIN_DAY,BEGIN_YEAR,END_MONTH,END_DAY,END_YEAR
0,10063615,ST. LOUIS CO.,1/3/1950,11:00,F3,0,3,MO,,1/3/1950,1100,38.77,-90.22,38.82,-90.12,NaN,NaN,1,3,1950,1,3,1950
1,10009710,MADISON CO.,1/3/1950,11:10,F3,0,0,IL,,1/3/1950,1110,38.82,-90.1,38.83,-90.03,NaN,NaN,1,3,1950,1,3,1950
2,10009711,MONTGOMERY CO.,1/3/1950,11:55,F3,0,3,IL,,1/3/1950,1155,39.1,-89.3,39.12,-89.23,NaN,NaN,1,3,1950,1,3,1950
3,10086808,VAN WERT CO.,1/3/1950,16:00,F1,0,1,OH,,1/3/1950,1600,40.88,-84.58,,,NaN,NaN,1,3,1950,1,3,1950
4,9981922,POLK CO.,1/13/1950,5:25,F3,1,1,AR,,1/13/1950,525,34.4,-94.37,,,NaN,NaN,1,13,1950,1,13,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73597,994814,JEFF DAVIS CO.,12/30/2021,16:33,EF1,0,0,GA,Emergency Manager,12/30/2021,1655,31.69,-82.73,31.74,-82.54,"Just after 430 pm, a severe thunderstorm spawn...",A broken prefrontal squall line shifted southw...,12,30,2021,12,30,2021
73598,998990,PULASKI CO.,12/30/2021,18:09,EF0,0,0,GA,NWS Storm Survey,12/30/2021,1832,32.23,-83.59,32.22,-83.42,This tornado touched down shortly after enteri...,Within an unseasonably warm and moist low-leve...,12,30,2021,12,30,2021
73599,998802,DEKALB CO.,12/31/2021,14:49,EF1,0,0,AL,Emergency Manager,12/31/2021,1452,34.2875,-85.7878,34.2998,-85.7805,"A tornado briefly touched down in Mt Vernon, A...",An isolated supercell moved through southern D...,12,31,2021,12,31,2021
73600,996865,CARROLL CO.,12/31/2021,17:32,EF1,0,0,GA,Emergency Manager,12/31/2021,1745,33.7372,-84.9998,33.7625,-84.9633,A tornado from a rare LP supercell touched dow...,Low-level shear with moderate instability resu...,12,31,2021,12,31,2021
73601,996864,NEWTON CO.,12/31/2021,17:39,EF1,0,6,GA,NWS Employee,12/31/2021,1746,33.5676,-83.9877,33.5842,-83.9498,An isolated supercell thunderstorm developed d...,Low-level shear with moderate instability resu...,12,31,2021,12,31,2021

In [13]:
#tornado_years.to_excel('all_tornado.xlsx')